cherry_picker==2.2.0
#git+https://github.com/python/cherry-picker.git@remove-initial-state#egg=cherry_picker
aiohttp==3.10.8
gidgethub==5.3.0
cachetools==5.5.0
redis==5.1.0
celery==5.4.0
sentry-sdk==2.15.0
click==8.1.7
