cherry_picker==2.2.0
#git+https://github.com/python/cherry-picker.git@remove-initial-state#egg=cherry_picker
aiohttp==3.9.1
gidgethub==5.3.0
cachetools==5.3.2
redis==5.0.1
celery==5.3.6
sentry-sdk==1.38.0
click==8.1.7
